<div class="container pt-4">
  <div>
    <div class="d-flex justify-content-between">
      <div>
        <label for="">Name</label>
        <input [(ngModel)]="value" class="form-control" type="text">
      </div>

      <div>
        <label for="">Last Name</label>
        <input [(ngModel)]="value1" class="form-control" type="text">
      </div>

      <button class="btn btn-primary" (click)="addRegister()">Register</button>
    </div>
  </div>

  <hr>

  <div>
    <div class="d-flex justify-content-between">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Presence</th>
            <th scope="col">Action</th>
          </tr>
        </thead>

        <tbody *ngFor="let element of allRegistered; let i=index">
          <tr>
            <td>{{element.name}}</td>
            <td>{{element.lastName}}</td>

            <td>
              <select>[(ngModel)]="element.presence"
                <option [value]="false">Absent</option>
                <option [value]="true">Present</option>
              </select>
            </td>

            <td>
              <button type="button" class="btn btn-danger" (click)="deletePerson(i)">X</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>



<!-- <div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people; let i = index">
        <td><input type="text" [(ngModel)]="person.name"></td>
        <td><input type="text" [(ngModel)]="person.surname"></td>
        <td>
          <select [(ngModel)]="person.status">
            <option value="present">Present</option>
            <option value="absent">Absent</option>
          </select>
        </td>
        <td><button (click)="deletePerson(i)">Delete</button></td>
      </tr>
    </tbody>
  </table>

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="newPerson.name">

    <label for="surname">Surname:</label>
    <input type="text" id="surname" [(ngModel)]="newPerson.surname">

    <button (click)="addPerson()">Add</button>
  </div>
</div> -->